label {
  @apply absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm;
}

code {
  @apply block whitespace-pre overflow-scroll text-sm w-80;
}

.not-valid {
  @apply border-red-500 text-red-400;
}
