<form
  [formGroup]="formLogin"
  (ngSubmit)="onSubmit()"
  class="w-full flex flex-col gap-6 items-center"
>
  <div class="flex flex-col justify-center gap-4 items-center">
    <c-title css="title-2xl">Login</c-title>
    <div class="w-full flex flex-col gap-4">
      <div class="relative">
        <c-label>
          Email
          <c-input
            css="input-primary"
            type="email"
            placeholder="jhonDoe@example.com"
            [formControl]="formUtilities.getControl(formLogin, 'email')"
            name="email"
            [additionalValidators]="
              formUtilities.getValidators(formLogin, 'email')
            "
          />
        </c-label>
      </div>
      <div class="relative">
        <c-label>
          Pasword
          <c-input
            css="input-primary"
            type="password"
            placeholder="*******"
            [formControl]="formUtilities.getControl(formLogin, 'password')"
            name="password"
          />
        </c-label>
      </div>
      <a class="underline" routerLink="/auth/recover">
        have you forgotten your password ?
      </a>
    </div>
    <div class="relative w-full">
      <c-button
        class="w-full"
        css="button-primary"
        color="t-white"
        type="submit"
        [disabled]="!formLogin.valid"
      >
        <c-title css="title-base">Login</c-title>
      </c-button>
    </div>
  </div>
</form>
