@tailwind components;
@tailwind base;
@tailwind utilities;
/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
}

body {
  background-color: #fafafa;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
}

main {
  @apply bg-[white] w-1/2 h-1/2 overflow-hidden;
}

main {
  border-bottom: 10px solid var(--qwik-dark-blue);
  border-top: 10px solid var(--qwik-dark-purple);
}

.shadown-quick {
  box-shadow: 0px 0px 130px -50px var(--qwik-light-purple);
}
