<form
  [formGroup]="formChangePass"
  (ngSubmit)="onReset()"
  class="w-full flex flex-col gap-6 items-center h-full justify-center"
>
  <div class="flex flex-col justify-center gap-4 items-center">
    <c-title css="title-2xl">Change password</c-title>
    <div class="w-full flex flex-col gap-4">
      <div class="relative">
        <c-label>
          Current password
          <c-input
            css="input-primary"
            type="password"
            placeholder="Old password"
            [formControl]="
              formUtilities.getControl(formChangePass, 'currentPassword')
            "
            name="currentPassword"
          />
        </c-label>
      </div>
      <div class="relative flex flex-col gap-2">
        <c-label>
          New password
          <c-input
            css="input-primary"
            type="password"
            placeholder="New Password"
            [formControl]="
              formUtilities.getControl(formChangePass, 'newPassword')
            "
            name="newPassword"
          />
        </c-label>
        <c-input
          css="input-primary"
          type="password"
          placeholder="Repeat password"
          [formControl]="
            formUtilities.getControl(formChangePass, 'repeatPassword')
          "
          name="repeatPassword"
        />
      </div>
    </div>
    <div class="relative w-full">
      <c-button
        class="w-full"
        css="button-primary"
        color="t-white"
        type="submit"
        [disabled]="!this.formChangePass.valid"
      >
        <c-title css="title-base">Done</c-title>
      </c-button>
    </div>
  </div>
</form>
