<!-- ./template/requestResetPassword.handlebars -->
<p>Hello, {{name}}!</p>

<p>You have successfully changed your password</p>

<p>Remember that your password is the following: {{password}}</p>

<p>We're glad you're back,</p>
<p>Your application team</p>